.App {
  display: grid;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  grid-template: auto 1fr / 10vw 1fr;
  grid-template-areas:
    "head head"
    "nav main";
}
body {
  margin: 0;
  padding: 0;
}
.nav {
  background-color: pink;
  grid-area: nav;
  color: green;
}
.App-header {
  background-color: #282c34;
  grid-area: head;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.store-item {
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px;
}

.store {
  display: grid;
  grid-area: main;
  grid-auto-columns: repeat(auto-fit, minmax())
}

#login-page {
  grid-area: main;
}

#add-item-page {
  grid-area: main;
}

.item-list {
  display: grid;
  grid-gap: 5px;
  grid-template-columns:repeat(auto-fit, 240px);
  grid-auto-rows: max-content;
  padding: 5px;
}

.store-item > img {
  height: 150px;
  width: 150px;
}

nav li  a {
  color: white;
}

.category-chip {
  border: solid black 1px;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: rgba(0,0,0,0.15) 3px 3px 3px;
  display: inline-block;
  padding: 7px;
  margin: 5px;
}